

<div class="row mt-5 mb-5">
  <div class="col-sm-6">
    <h1>Posts | <%= link_to "New Category", new_category_path, class: "btn btn-warning btn-sm" %></h1>
    <br />
    <hr />
    <br />
    <h4>All Categories</h4>
  <% Category.all.each do |cat| %>
    <%= link_to cat.name, posts_path(category: cat.name) %>
      <br />
    <% end %>
    <br />
    <hr />
    <br />
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_post_path, class: 'btn btn-primary' do %>
    Add New Post
  <% end %>
  </div>
</div>





    

            <th>Title</th>
            <th>Content</th>
            <th>Img url</th>
            <th>Category</th>





      <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3><%= link_to post.title, post_path(post.id) %></h3>

            <%= post.content %>
            <%= post.img_url %>
            <%= post.category %>
          </div>
          
          
           <%= link_to 'Show', post %>
          
        <% end %>
