<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
      <%= form.text_field :description, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if category.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', category, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if category.persisted? %>
      <%= link_to "Cancel", category, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", categories_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
